<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img src="https://imgs.search.brave.com/PrReURR10lO4nSjDl1MDKyafdWWp_L06-oPHbpsTDLE/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pLnBj/bWFnLmNvbS9pbWFn/ZXJ5L2FydGljbGVz/LzAwQ3g3dkZJZXR4/Q3VLeFFlcVBmOG1p/LTIzLmZpdF9saW0u/djE2NDMxMzEyMDIu/anBn"
                 alt="" class="card-img-top img-fluid">
                <div class="card-body">
                    <small class="bg-light text-danger text-center">Design</small>
                    <small class="bg-light text-success text-center ml-2">Featured</small>
                    <small class="bg-light text-info text-center ml-2">View - 100,256</small>
                    <small class="bg-light text-warning text-center ml-2">LAST UPDATED - NOV 27, 2023</small>
                    <h1 class="mt-3 mb-3">How to start a blog in 2023 edited new category</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti perferendis architecto quam officia praesentium eius iure minima, esse laborum! Ipsa voluptates numquam provident animi rerum labore? Ab consequatur velit officia.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim vitae voluptatum ab in hic amet eveniet corrupti asperiores repudiandae temporibus repellendus, omnis illum, animi vero quidem modi! Atque, suscipit fuga!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nihil et aspernatur laudantium, consequatur quos non, pariatur nobis nisi nesciunt exercitationem. Inventore excepturi sequi blanditiis quisquam totam, earum voluptas. Temporibus.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, voluptas? Nihil voluptatum ipsam tenetur consequatur illo necessitatibus enim culpa obcaecati quibusdam, officiis eligendi eum? Aperiam, sint! Delectus saepe aperiam incidunt?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, illum. Hic amet eligendi obcaecati nemo. Recusandae delectus libero beatae, nihil placeat natus dolorem voluptas ipsum id maiores dolore, nobis consequatur.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio aspernatur qui, ipsa nostrum commodi voluptatibus laudantium natus, eos labore, perferendis adipisci animi praesentium corporis reiciendis expedita alias sed voluptatum cum!
                </p>
                </div>
            </div>
            <app-comment-form></app-comment-form>
            <app-comment-list></app-comment-list>
        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
</div>