<div class="card shadow-effect">
    <img src="https://imgs.search.brave.com/BijBHZWjCtO53yXQUJzwY6Rw79Wz5P13JN8v_jc_6_8/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/YW5kcm9pZGF1dGhv/cml0eS5jb20vd3At/Y29udGVudC91cGxv/YWRzLzIwMjAvMDQv/R29vZ2xlLUNocm9t/ZS1vbi1zbWFydHBo/b25lLW5leHQtdG8t/Z2xvYmUtc3RvY2st/cGhvdG8uanBn" alt="post-image" 
    class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Featured</small>
        <small class="bg-light text-info text-center ml-3">View - 100,255</small>
        <h5 class="mt-1"> How to start a blog in 2023</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Sed non risus. Suspendisse lectus tortor, dignissim sit amet,adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam.Maecenas ligula massa, varius a, semper congue, euismod non, mi.
                 </p>
                       <small class="bg-light text-warning text-center ml-3">last updated - NOV 27,2023</small>
        
    </div>
</div>
